.general{
    position: absolute;
    width: 437px;
    height: 282px;
    left: 37px;
    top: 580px;

    background: #FFFFFF;
    border-radius: 20px;
}

.text{
    position: absolute;
    width: 348px;
    height: 248px;
    left: 543px;
    top: 597px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 62px;
    text-align: center;

    color: #000000;
}