#center{
    display: flex;
    justify-content: center;
    width: 100%;
}

#heading{
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 20px;

    color: white;
}