#general{
    width: 1440px;
    height: 65px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;

    background: #FFFFFF;
    border-radius: 0px;
}

#riceappslogo{
    width: 46px;
    height: 46px;
}

#button{
    width: 161px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    border-radius: 10px;
}

#buttontext{
    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;

    color: white;
}

